nifi-sample-processor-processors/src/test/resources/NiFi_Flow.json
{"flowContents":{"identifier":"09440282-fffb-346c-bdcf-5f5759949a4c","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d24d99ec-af21-35a2-adb5-ce9139ec2ea3","name":"에러 발생시 발생한 파일 PUT","comments":"","position":{"x":1008.0,"y":360.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.0"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/vagrant/failure","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"09440282-fffb-346c-bdcf-5f5759949a4c"},{"identifier":"0f1b1568-61f5-37d8-a24b-d08e8217e51d","name":"레코드 변환","comments":"","position":{"x":384.0,"y":192.0},"bundle":{"group":"io.datadynamics.bigdata.nifi","artifact":"nifi-sample-processor-nar","version":"1.0.0"},"style":{},"type":"io.datadynamics.bigdata.nifi.processors.sample.convert.ConvertRecord","properties":{},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"record-writer","identifiesControllerService":false,"sensitive":true},"array-column-names":{"name":"array-column-names","displayName":"array-column-names","identifiesControllerService":false,"sensitive":true},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"include-zero-record-flowfiles","identifiesControllerService":false,"sensitive":true},"record-reader":{"name":"record-reader","displayName":"record-reader","identifiesControllerService":false,"sensitive":true},"array-column-names-separator":{"name":"array-column-names-separator","displayName":"array-column-names-separator","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"INFO","runDurationMillis":2000,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"09440282-fffb-346c-bdcf-5f5759949a4c"},{"identifier":"878e40f9-01e9-392a-b8fe-e9165053d051","name":"파일 생성","comments":"","position":{"x":376.0,"y":-24.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.0"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"30B","mime-type":"text/plain","generate-ff-custom-text":"1,2,3,4,a|b|c|d|e,5","Batch Size":"300","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"INFO","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"09440282-fffb-346c-bdcf-5f5759949a4c"},{"identifier":"ec7ff180-2db6-31fe-bae6-cbfb2691c4a9","name":"정상처리 파일 PUT","comments":"","position":{"x":376.0,"y":440.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.0"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/vagrant/output","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"09440282-fffb-346c-bdcf-5f5759949a4c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"fdbc4ee7-7a06-39bd-8589-21311b8dfb8e","name":"","source":{"id":"0f1b1568-61f5-37d8-a24b-d08e8217e51d","type":"PROCESSOR","groupId":"09440282-fffb-346c-bdcf-5f5759949a4c","name":"레코드 변환","comments":""},"destination":{"id":"ec7ff180-2db6-31fe-bae6-cbfb2691c4a9","type":"PROCESSOR","groupId":"09440282-fffb-346c-bdcf-5f5759949a4c","name":"정상처리 파일 PUT","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"09440282-fffb-346c-bdcf-5f5759949a4c"},{"identifier":"7ac6b16f-a14a-32a2-bdaf-98ad24b7b42c","name":"","source":{"id":"ec7ff180-2db6-31fe-bae6-cbfb2691c4a9","type":"PROCESSOR","groupId":"09440282-fffb-346c-bdcf-5f5759949a4c","name":"정상처리 파일 PUT","comments":""},"destination":{"id":"d24d99ec-af21-35a2-adb5-ce9139ec2ea3","type":"PROCESSOR","groupId":"09440282-fffb-346c-bdcf-5f5759949a4c","name":"에러 발생시 발생한 파일 PUT","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"09440282-fffb-346c-bdcf-5f5759949a4c"},{"identifier":"7c0b714d-3622-33d3-8c94-b8bd10de8021","name":"","source":{"id":"0f1b1568-61f5-37d8-a24b-d08e8217e51d","type":"PROCESSOR","groupId":"09440282-fffb-346c-bdcf-5f5759949a4c","name":"레코드 변환","comments":""},"destination":{"id":"d24d99ec-af21-35a2-adb5-ce9139ec2ea3","type":"PROCESSOR","groupId":"09440282-fffb-346c-bdcf-5f5759949a4c","name":"에러 발생시 발생한 파일 PUT","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"09440282-fffb-346c-bdcf-5f5759949a4c"},{"identifier":"7faf39d2-f270-331c-868e-760329ccf0ea","name":"","source":{"id":"878e40f9-01e9-392a-b8fe-e9165053d051","type":"PROCESSOR","groupId":"09440282-fffb-346c-bdcf-5f5759949a4c","name":"파일 생성","comments":""},"destination":{"id":"0f1b1568-61f5-37d8-a24b-d08e8217e51d","type":"PROCESSOR","groupId":"09440282-fffb-346c-bdcf-5f5759949a4c","name":"레코드 변환","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"09440282-fffb-346c-bdcf-5f5759949a4c"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"1b19a31a-7f71-3afd-9f1e-10023f7eaa62","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.0"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.0"}}],"properties":{"ignore-csv-header":"false","schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"{\n    \"type\": \"record\",\n    \"namespace\": \"io.datadynamics\",\n    \"name\": \"CSV\",\n    \"fields\": [\n        { \"name\": \"C1\", \"type\": \"string\" },\n        { \"name\": \"C2\", \"type\": \"string\" },\n        { \"name\": \"C3\", \"type\": \"string\" },\n        { \"name\": \"C4\", \"type\": \"string\" },\n        { \"name\": \"C5\", \"type\": \"string\" },\n        { \"name\": \"C6\", \"type\": \"string\" }\n    ]\n} "},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"09440282-fffb-346c-bdcf-5f5759949a4c"},{"identifier":"f78f6828-796f-348d-9ed3-d6b3124ed898","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.0"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.0"}}],"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"schema-text-property","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"{\n    \"type\": \"record\",\n    \"namespace\": \"io.datadynamics\",\n    \"name\": \"CSV\",\n    \"fields\": [\n        { \"name\": \"C1\", \"type\": \"string\" },\n        { \"name\": \"C2\", \"type\": \"string\" },\n        { \"name\": \"C3\", \"type\": \"string\" },\n        { \"name\": \"C4\", \"type\": \"string\" },\n        { \"name\": \"C5\", \"type\": \"string\" },\n        { \"name\": \"C6\", \"type\": \"string\" }\n    ]\n} "},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"09440282-fffb-346c-bdcf-5f5759949a4c"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}